@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #fffbde;
  --primary: #91c8e4;
  --primary-dark: #4682a9;
}
