@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-white: #fff5f2;
  --primary-pink: #f5babb;
  --primary-green: #568f87;
  --primary-dark: #064232;
}

body {
  background-color: var(--primary-white);
}
